.parallaxStack {
  width: 100%;
  padding: 2rem 2.5rem;
}

.ctaLink {
  text-decoration: none;
  color: #fff;
}

.parallaxItem {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.imgeWrapperDesignA img,
.imgTituleDesignA img,
.imgTituleDesignB img,
.imgDesignC img {
  width: 100%;
  height: auto;
}

/*  */
/* designA */
/*  */

.designA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.containerDesignA {
  display: flex;
  gap: 1rem;
}

.imgeWrapperDesignA {
  width: 100%;
  height: auto;
}

.imgTituleDesignA,
.overlayTextDesignA {
  width: 50%;
}

.overlayTextDesignA {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayTextDesignA p {
  font-size: 2rem;
  padding: 0 1rem;
  color: var(--grisOsc);
  text-align: justify;
}

.imgeWrapperDesignA {
  position: relative;
}

.buttonDesignA {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.2rem;
  right: 0px;
  width: 35%;
  height: 15%;
  background: linear-gradient(-45deg, var(--vinoOsc), var(--vinoClr));
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 800;
}

/*  */
/* designB */
/*  */

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.gradientOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(26, 26, 26) 100%);
  z-index: -1;
}

.designB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  border-radius: 3rem;
  gap: 1rem;
  margin: 1.5rem 0;
}

.overlayTextDesignB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  gap: 1rem;
}

.imgTituleDesignB {
  width: 100%;
  height: auto;
}

.overlayTextDesignB p {
  font-size: 2rem;
  font-weight: 500;
  color: var(--blanco);
  padding: 0.8rem 1.3rem;
  margin: 0;
  text-align: center;
}

.buttonDesignB {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 60px;
  background: linear-gradient(-45deg, var(--vinoOsc), var(--vinoClr));
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 800;
}

/*  */
/* designC */
/*  */


.textContentDesignC {
  position: relative;
  left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  gap: 1rem;
}

.textContentDesignC p {
  width: 120%;
  font-size: 2rem;
  font-weight: 400;
  color: var(--grisOsc);
  text-align: justify;
}

.imgTituleDesignC {
  width: 120%;
  height: auto;
}

.buttonDesignC {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 60px;
  background: linear-gradient(-45deg, var(--vinoOsc), var(--vinoClr));
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 800;
}

.imgDesignC {
  width: 60vw;
  height: auto;
}