.signatureWrapper {
  margin-top: 1rem;
}

.containerSignatureWrapper {
  display: flex;
  flex-direction: column;
}

.containerSignatureWrapper label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--grisOsc);
}

.signatureCanvas {
  width: 80vw;
  height: 350px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.signatureControls {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
}

.button {
  background-color: var(--vinoOsc);
  color: white;
  border: none;
  padding: 6px 16px;
  cursor: pointer;
  border-radius: 6px;
}