.infoSwiperContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
}

.infoSwiper {
  width: 100%;
  max-width: 500px;
  height: 100%;
}


.slideItem {
  display: flex;
  align-items: stretch;
  border-radius: 12px;
}

/* Texto (izquierda) */
.card {
  flex: 1;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  font-size: 0.9rem;
  line-height: 1.4;
}

.utm {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  font-size: 0.9rem;
  color: #555;
}

.card p {
  margin: 4px 0;
  font-size: 0.9rem;
  color: #555;
}

/* Imagen (derecha) */
.imageWrapper {
  flex: 1;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.image {
  object-fit: cover;
  object-position: center;
}

.infoSwiperText {
  width: 40vw;
  text-align: left;
}

.infoSwiperText p {
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
}