.infoSwiperText {
  width: 45vw;
  height: auto;
  text-align: left;
}

.infoSwiperText p {
  font-size: 1.2rem;
  color: var(--grisOsc);
  line-height: 1.5;
  text-align: justify;
}

.infoSwiperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 2.5rem;
}

.infoSwiper {
  width: 55vw;
  max-width: 900px;
  height: 100%;
  padding: 0 30px;
}

.slideItem {
  display: flex;
  align-items: stretch;
  border-radius: 12px 0 0 12px;
  height: 600px
}

/* Texto (izquierda) */
.card {
  flex: 1;
  background: #fff;
  border-radius: 0 12px 12px 0;
  padding: 50px 16px;
  font-size: 0.9rem;
  line-height: 1.4;
}

/* .utm {
  display: flex;
  gap: 1rem;
  margin: 8px 0;
  font-size: 0.9rem;
  color: var(--grisOsc);
} */

.card p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--grisOsc);
  margin: 0 0 8px 0;
}

.titule {
  display: flex;
  align-items: center;
  gap: 8px;
}

.circule {
  width: 10px;
  height: 10px;
  background-color: var(--doradoOsc);
  border-radius: 50%;
}

.titule p {
  font-size: 1.3rem;
  font-weight: 700;
  border: 3px solid var(--vinoOsc);
  color: var(--vinoClr);
  padding: 2px;
  margin: 0;
}




.cardD {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  width: 55%;
}


.imageWrapper {
  position: relative;
  flex-grow: 1;
  /* Ocupa el espacio restante */
  width: 100%;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.cardDText {
  padding: 1rem;
  /* NO definir height fijo, ocupa solo el alto que necesita */
}


.cardDText p:first-of-type {
  font-weight: 700;
    font-size: 1.3rem;

  color: var(--vinoClr);
  margin: 0;
}

.cardDText p:nth-of-type(2) {
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0;
}