.contentHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: var(--blanco);
  margin-top: 50px;
}

.contentHeader .headeTitule  {
  width: 90%;
  will-change: transform;
}

.contentHeader .headerTxt {
  width: 15%;
  will-change: transform;
}

.contentHeader .headerTxt img,
.contentHeader .headeTitule img {
  width: 100%;
  height: auto;
}


.marqueeWrapper {
  width: 100vw;
  overflow: visible;
  padding: 2rem 0;
  position: relative;
}

.marqueeTrack {
  display: flex;
  width: max-content;
  gap: 5rem;
}

.marqueeItem {
  min-width: 160px;
  min-height: 250px;

  width: 17vw;
  height: 50vh;

  border-radius: 5rem;
  overflow: hidden;
  flex-shrink: 0;
  transform: scale(0.5);
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.marqueeItem:hover {
  transform: scale(1.05);
}

.imageCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  display: block;
}


.marqueeItem {
  position: relative;
  filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.3));
  transform-style: preserve-3d;
}

.marqueeItem::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 20%;
  background: inherit;
  opacity: 0.15;
  transform: scaleY(-1);
  filter: blur(8px);
  z-index: -1;
  border-radius: inherit;
}



/* Tamaño para 'md' */
@media (min-width: 576px) {}

/* Tamaño para 'lg' */
@media (max-width: 768px) {

  .contentHeader {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    margin: 0;
    gap: 80px;
  }

  .contentHeader .headerImg {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 150vw;
    height: 50%;
  }
}

/* Tamaño para 'xl' */
/* @media (min-width: 1024px) {

} */

/* Tamaño para 'xxl' */
/* @media (min-width: 1400px) {

} */
