.slider {
  width: 97%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  position: absolute;
  top: 300px;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1000;
}

/* Botón con efecto glass 3D */
.slider .button {
  padding: 0.75rem 1.5rem;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1.5px solid rgba(245, 245, 245, 0.911);
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.slider .button:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 40px 0 rgba(31, 38, 135, 0.45);
}

/* Animación de deslizamiento */
.slideIn {
  animation: slideDown 0.5s ease forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-150px);
  }

  to {
    transform: translateY(0);
  }
}